<footer th:fragment="footer">
    <div class="row">
        <section class="col-12 col-sm-6 col-lg-3">
            <div class="footersubmenuopciones">
                <input type="checkbox" class="MenuDesple-footer">
                <label>
                    Sobre nosotros
                </label>
                <div class="Expansion">
                    <ul>
                        <li>
                            <a href="#">NuestraCompañía</a>
                        </li>
                        <li>
                            <a href="#">Nuestro Café</a>
                        </li>
                        <li>
                            <a href="#" target="_self">Servicio al Cliente</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col-12 col-sm-6 col-lg-3">
            <div class="footersubmenuopciones">
                <input type="checkbox" id="toggleMenu" class="MenuDesple-footer">
                <label>
                    Compras
                </label>
                <div class="Expansion">
                    <ul>
                        <li>
                            <a href="#">Pedidos por la Web</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col-12 col-sm-6 col-lg-3">
            <div class="footersubmenuopciones">
                <input type="checkbox" id="toggleMenu" class="MenuDesple-footer">
                <label>
                    Nuestra Cultura
                </label>
                <div class="Expansion">
                    <ul>
                        <li><a href="#" target="_self">Cultura y
                            Valores</a></li>
                        <li>
                            <a href="#" target="_self">Trabaja con nosotros</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col-12 col-sm-6 col-lg-3">
            <div class="footersubmenuopciones">
                <input type="checkbox" id="toggleMenu" class="MenuDesple-footer">
                <label>
                    Políticas
                </label>
                <div class="Expansion">
                    <ul>
                        <li><a href="#"
                               target="_self">Política
                            de Privacidad App, Web y Starbucks Rewards</a></li>
                        <li>
                            <a href="#" target="_self">Términos y condiciones de promociones</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>


    <div class="separate">

        <div class="reclamaciones">
            <a th:href="@{/reclamation}" class="logo"><img src="/img/reclamaciones.png" alt="Reclamaciones"></a>
        </div>
        <!-- Lista de iconos -->
        <ul class="wrapper">
            <!-- Icono de Facebook -->
            <li class="icon facebook">
                <!-- Mensaje emergente -->
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <span class="tooltip">Facebook</span>
                    <!-- Imagen del icono -->
                    <img src="https://i.pinimg.com/564x/62/a5/10/62a510f95ac3130d81edfaac6d00e555.jpg"
                         alt="Facebook">
                </a>
            </li>
            <!-- Icono de Twitter -->
            <li class="icon twitter">
                <!-- Mensaje emergente -->
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <span class="tooltip">Twitter</span>
                    <!-- Imagen del icono -->
                    <img src="https://i.pinimg.com/564x/a0/17/a6/a017a680ddc8cffc4dee55f75dc864c5.jpg"
                         alt="Twitter">
                </a>
            </li>
            <!-- Icono de Instagram -->
            <li class="icon instagram">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <span class="tooltip">Instagram</span>
                    <img src="https://i.pinimg.com/564x/f5/85/6f/f5856f110de3dd93be08a313e6c4e537.jpg"
                         alt="Instagram">
                </a>
            </li>
            <!-- Icono de TikTok -->
            <li class="icon tiktok">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <span class="tooltip">TikTok</span>
                    <img src="https://i.pinimg.com/564x/9b/19/d2/9b19d28abb90fe95609ae0431de4cf73.jpg" alt="TikTok">
                </a>
            </li>
        </ul>
        <div onclick="scrollToTop()" class="btn-scroll-top"></div>

        <div class="dropdown" id="contactoDropdown">
            <button class="btn-contact" onclick="toggleContactInfo()"></button>
            <div class="dropdown-content" id="contactoContent">
                <b><p>Información de contacto:</p></b>
                <div class="contact-info">
                    <img src="https://i.pinimg.com/564x/74/48/65/74486564acdc136f82c9d94509379607.jpg" alt="WhatsApp" class="whatsapp-icon">
                    <span class="whatsapp-text">Teléfono Lima:<br> (01)505-0050</span>
                </div>
                <div class="contact-info">
                    <img src="https://i.pinimg.com/564x/74/48/65/74486564acdc136f82c9d94509379607.jpg" alt="WhatsApp" class="whatsapp-icon">
                    <span class="whatsapp-text">Teléfono Provincia:<br> (044)779-009</span>
                </div>
                <div class="contact-info">
                    <img src="https://i.pinimg.com/564x/f1/34/36/f134361b004dd76f24dfe1c79f78c832.jpg" alt="WhatsApp" class="whatsapp-icon">
                    <span class="whatsapp-text">Correo electrónico:<br> <a href="mailto:atencionalcliente@starbucks.es">atencionalcliente@starbucks.es</a></span>
                </div>
            </div>
        </div>

    </div>

    <script th:src="@{/JavaScript/menu.js}"></script>
    <script th:src="@{/JavaScript/script.js}"></script>
</footer>

