<!DOCTYPE html>
<html lang="es" xmlns:th ="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css}"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Estilos locales -->
    <link rel="stylesheet" th:href="@{Styles/style-carrito.css}">
    <link rel="stylesheet" th:href="@{/Styles/Styles.css}" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Script local -->

    <link rel="stylesheet" th:href="@{/Styles/Bottoms.css}" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>Pizzeria Pizza</title>
</head>

<body>
    <header th:replace = "layout/Nav :: header" ></header>

    <div class="banner">
        <h1>“¡Es hora de satisfacer tu antojo! Elige tus favoritos.”</h1>
    </div>
    <div class="categorias">

        <a th:href="@{/personaliza}"><button class="categoria-btn" data-categoria="personalizada">Personalizar Pizza</button></a>
        <button class="categoria-btn" data-categoria="pizza">PIZZAS</button>
        <button class="categoria-btn" data-categoria="bebida">BEBIDAS</button>
        <button class="categoria-btn" data-categoria="vino">VINOS</button>
        <button class="categoria-btn" data-categoria="coctel">CÓCTELES</button>
        <button class="categoria-btn" data-categoria="postre">POSTRES</button>
        <button class="categoria-btn" data-categoria="utensilio">UTENSILIOS</button>
    </div>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <!--/////////////////////////////////////////////////////////////////
            ////////////////////////BEBIDA///////////////////////////////////////
            /////////////////////////////////////////////////////////////////////-->
            <div class="item"
                 th:each="bebida : ${listBebida}"
                 th:data-categoria="${bebida.categoria}">
                <span class="titulo-item" th:text="${bebida.descripcion}">Nombre del producto</span>
                <img th:src="${bebida.url_imagen}" alt="" class="img-item">
                <span class="precio-item" th:text="${'S/. ' + #numbers.formatDecimal(bebida.precio, 0, 'COMMA', 2, 'POINT')}">S/. 0.00</span>
                <form th:action="@{/comprar/agregarProducto/{id}(id=${bebida.getId()})}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>

            <div class="item"
                 th:each="vino : ${listVino}"
                 th:data-categoria="${vino.categoria}">
                <span class="titulo-item" th:text="${vino.descripcion}">Nombre del producto</span>
                <img th:src="${vino.url_imagen}" alt="" class="img-item">
                <span class="precio-item" th:text="${'S/. ' + #numbers.formatDecimal(vino.precio, 0, 'COMMA', 2, 'POINT')}">S/. 0.00</span>
                <form th:action="@{/comprar/agregarProducto/{id}(id=${vino.getId()})}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>

            <div class="item"
                 th:each="coctel : ${listCoctel}"
                 th:data-categoria="${coctel.categoria}">
                <span class="titulo-item" th:text="${coctel.descripcion}">Nombre del producto</span>
                <img th:src="${coctel.url_imagen}" alt="" class="img-item">
                <span class="precio-item" th:text="${'S/. ' + #numbers.formatDecimal(coctel.precio, 0, 'COMMA', 2, 'POINT')}">S/. 0.00</span>
                <form th:action="@{/comprar/agregarProducto/{id}(id=${coctel.getId()})}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>



            <!--/////////////////////////////////////////////
                //////////////////////PIZZA///////////////////
            //////////////////////////////////////////////////
            /////////////////////////////////////////////////-->
            <div class="item" data-categoria="pizza">
                <span class="titulo-item">Pizza Americana</span>
                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-mixta-carnes-y-vegetales-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">
                <span class="precio-item">S/. 20.00</span>
                <form th:action="@{/comprar/agregarPizza/27}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>
            <div class="item" data-categoria="pizza">
                <span class="titulo-item">Suprema</span>
                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-pollo-domicilio-resto-bar-pizzeria-.jpg"  alt="" class="img-item">
                <span class="precio-item">S/. 20.00</span>
                <form th:action="@{/comprar/agregarPizza/28}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>
            <div class="item" data-categoria="pizza">
                <span class="titulo-item">Pizza de Peperoni</span>
                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-colombian-pizza-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">
                <span class="precio-item">S/. 20.00</span>
                <form th:action="@{/comprar/agregarPizza/31}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>
            <div class="item" data-categoria="pizza">
                <span class="titulo-item">Pizza Italiana</span>
                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-pepperoni-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">
                <span class="precio-item">S/. 20.00</span>
                <form th:action="@{/comprar/agregarPizza/32}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>
            <div class="item" data-categoria="pizza">
                <span class="titulo-item">Pizza Hawaiana</span>
                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-tocineta-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">
                <span class="precio-item">S/. 20.00</span>
                <form th:action="@{/comprar/agregarPizza/33}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Hawaiana Piccolo</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-hawaiana-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 9,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Jamón y Queso</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-jamon-y-queso-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 19,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Salami</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-salami-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 8,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Cabano</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-cabano-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 9,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Dos Quesos con Manzana Verde</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-dos-quesos-manzana-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 9,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Queso azul + Jamón + Setas + Hortalizas</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-queso-azul-jamon-setas-hortalizas-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 5,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza O'Sole Mio</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-tocineta-mandarina-osole-mio-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 9,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Hawaiana + Tocineta</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-hawaiana-tocineta-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Pollo + Tocineta</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-pollo-tocineta-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 6,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Tocineta + Maíz Tierno</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-tocineta-maiz-tierno-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Pollo + Champiñones</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-pollo-champinones-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Carnes + Tocineta</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-carnes-tocineta-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 8,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Pepperoni + Champiñones</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-pepperoni-champinones-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 12,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Carnes [ jamón, salami y cábano</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-carnes-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Jamón + Champiñones</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-jamon-champinones-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 8,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Mediterránea</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-mediterranea-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Napolitana + Rúgula + Aceitunas</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-napolitana-rugula-aceitunas-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 14,00</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Queso Azul + Salmón + Tomate Cherry</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-salmon-tomate-cherry-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 5,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Napolitana</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-napolitana-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Vegetales</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-vegetales-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->
<!--            <div class="item" data-categoria="pizza">-->
<!--                <span class="titulo-item">Pizza Champiñones</span>-->
<!--                <img src="https://www.pizzaspiccolo.com.co//wp-content/uploads/2024/02/pizzas-piccolo-pizza-pizza-champinones-domicilio-resto-bar-pizzeria.jpg" alt="" class="img-item">-->
<!--                <span class="precio-item">S/. 15,50</span>-->
<!--                <button class="boton-item">Añadir a la Orden</button>-->
<!--            </div>-->



            <!--
                        /////////////////////////////////
                        ///////////POSTRES///////////////
                        /////////////////////////////////-->


            <div class="item"
                 th:each="postre : ${listPostre}"
                 th:data-categoria="${postre.categoria}">
                <span class="titulo-item" th:text="${postre.descripcion}">Nombre del producto</span>
                <img th:src="${postre.url_imagen}" alt="" class="img-item">
                <span class="precio-item" th:text="${'S/. ' + #numbers.formatDecimal(postre.precio, 0, 'COMMA', 2, 'POINT')}">S/. 0.00</span>
                <form th:action="@{/comprar/agregarProducto/{id}(id=${postre.getId()})}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>


            <!--///////////////////////////////
            //////////////UTENSILIOS///////////
            ///////////////////////////////////-->

            <div class="item"
                 th:each="utensilio : ${listUtensilio}"
                 th:data-categoria="${utensilio.categoria}">
                <span class="titulo-item" th:text="${utensilio.descripcion}">Nombre del producto</span>
                <img th:src="${utensilio.url_imagen}" alt="" class="img-item">
                <span class="precio-item" th:text="${'S/. ' + #numbers.formatDecimal(utensilio.precio, 0, 'COMMA', 2, 'POINT')}">S/. 0.00</span>
                <form th:action="@{/comprar/agregarProducto/{id}(id=${utensilio.getId()})}" method="post" class="d-inline">
                    <button type="submit" class="boton-item">Añadir</button>
                </form>
            </div>


        </div>
<!--        &lt;!&ndash; Carrito de Compras &ndash;&gt;-->
<!--        <div class="carrito" id="carrito">-->
<!--            <div class="header-carrito">-->
<!--                <h2>Tu Orden</h2>-->
<!--            </div>-->

<!--            <div class="carrito-items">-->

<!--            </div>-->
<!--            <div class="carrito-total">-->
<!--                <div class="fila">-->
<!--                    <strong>Tu Total</strong>-->
<!--                    <span class="carrito-precio-total">-->
<!--                        $0-->
<!--                    </span>-->
<!--                </div>-->
<!--                <button class="btn-pagar">Realizar Pedido <i class="fa-solid fa-bag-shopping"></i> </button>-->
<!--            </div>-->
<!--        </div>-->
    </section>
    <footer th:replace="layout/footer :: footer"></footer>
</body>
<script th:src="@{/JavaScript/script-carrito.js}"></script>
</html>