<!DOCTYPE html>
<html lang="en" xmlns:th ="https://www.thymeleaf.org/">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/Styles/Formularios.css}"/>
    <link rel="stylesheet" th:href="@{/Styles/Styles.css}" />
    <link rel="stylesheet" th:href="@{/Styles/login.css}" />
    <link rel="stylesheet" th:href="@{/Styles/home.css}" />
    <link rel="stylesheet" th:href="@{/Styles/Bottoms.css}" />
    <link rel="stylesheet" th:href="@{/Styles/seccionesmenu.css}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



    <style>
        @import url('https://fonts.googleapis.com/css2?family=Teachers:wght@500&display=swap');
    </style>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!--Stylos-->
    <title>Pizzeria Pizza</title>
</head>
<body>

<header th:replace="layout/Nav :: header"></header>

<main>
    <section class="banner__container">
        <img src="/img/banner.jpg" alt="">
        <!--        &lt;!&ndash;<div class="banner__form">-->
        <!--            <h3>Bienvenido a Pizzeria Pizzza</h3>-->
        <!--            <p>Ingrese su dirección para encontrar los mejores productos en su local más cercano</p>-->
        <!--            <form action="">-->
        <!--                <input type="text" placeholder="Su dirección...">-->
        <!--                <button type="submit">Buscar</button>-->
        <!--            </form>-->
        <!--        </div>&ndash;&gt;-->
    </section>

    <section class="promo__container">
        <div class="titles__promo">
            <h3>Ultimas Promociones</h3>
            <a>Ver Todas Las Ofertas</a>
        </div>
        <div class="row gy-4">
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="promo__card">
                    <img src="/img/promo1.jpg" alt="" class="img-fluid">
                    <div class="card__details">
                        <h4>Promo Navidad</h4>
                        <p>Pizza Grande + 2 gaseosas + AjoBox</p>
                        <del><p>Precio Original: S/<span>32.50</span></p></del>
                        <p>Ahora: S/<span>31.50</span></p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="promo__card">
                    <img src="/img/promo1.jpg" alt="" class="img-fluid">
                    <div class="card__details">
                        <h4>Promo Navidad</h4>
                        <p>Pizza Grande + 2 gaseosas + AjoBox</p>
                        <del><p>Precio Original: S/<span>32.50</span></p></del>
                        <p>Ahora: S/<span>31.50</span></p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="promo__card">
                    <img src="/img/promo1.jpg" alt="" class="img-fluid">
                    <div class="card__details">
                        <h4>Promo Navidad</h4>
                        <p>Pizza Grande + 2 gaseosas + AjoBox</p>
                        <del><p>Precio Original: S/<span>32.50</span></p></del>
                        <p>Ahora: S/<span>31.50</span></p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <a href="" class="promo__card">
                    <img src="/img/promo1.jpg" alt="" class="img-fluid">
                    <div class="card__details">
                        <h4>Promo Navidad</h4>
                        <p>Pizza Grande + 2 gaseosas + AjoBox</p>
                        <del><p>Precio Original: S/<span>32.50</span></p></del>
                        <p>Ahora: S/<span>31.50</span></p>
                    </div>
                </a>
            </div>

        </div>
    </section>
</main>



<section class="container-texto">
    <div class="content-texto">
        <div class="presentation-section-texto">
            <h1 class="title-texto"><br>¡Descubre la Magia de Nuestras Pizzas!</h1>
            <p class="description-texto">
                <br>Cada una de nuestras pizzas es una obra maestra creada con amor y dedicación.
                Utilizamos solo los mejores ingredientes frescos y recetas tradicionales italianas para ofrecerte
                una experiencia gastronómica única. Ya sea que prefieras una clásica Margherita o una innovadora
                pizza gourmet, cada bocado te transportará a Italia. ¡Ven y disfruta de momentos inolvidables con
                amigos y familia en un ambiente acogedor!
            </p>
        </div>
    </div>
</section>


<section class="wrapper-section">
    <div class="row-section">

        <div class="content-section">
            <br>
            <br>
            <br>
            <h1>Sabores que Enamoran</h1>
            <h2>"Cada Pizza es una Obra Maestra Artesanal"</h2>
            <p>Cada pizza que servimos es una experiencia única llena de sabores excepcionales. Nuestras masas, cuidadosamente amasadas a mano, combinan la frescura de <br>ingredientes seleccionados con la rica tradición de la cocina italiana, todo ello con <br>un toque contemporáneo.¡Te invitamos a descubrir por qué somos el destino<br> preferido de los verdaderos amantes de la pizza! </p>
        </div>
        <div class="image-section">
            <br>
            <img src="https://i.pinimg.com/564x/ad/ff/76/adff76167bc973a1c488769c56ebf9f0.jpg">
        </div>
    </div>
</section>



<section class="wrapper-section">
    <div class="row-section">

        <div class="image-section">
            <br>
            <img src="https://i.pinimg.com/564x/05/8d/d7/058dd77f7d1d9e4fcfe6b0b63f4aa256.jpg">
        </div>

        <div class="content-section">
            <br>
            <br>
            <br>
            <h1>Comparte Momentos Inolvidables</h1>
            <h2>"La Mejor Pizza se Comparte con Amigas"</h2>
            <p>Reúne a tus amigas y ven a disfrutar de nuestras deliciosas pizzas. Cada bocado es una celebración de sabores, elaboradas con masas amasadas a mano y los ingredientes más frescos. ¡Haz de cada encuentro una experiencia memorable y descubre por qué somos el lugar favorito para compartir risas y buena comida! </p>
        </div>

    </div>
</section>

<section class="container-section2">
    <div class="superior-section2">
        <h1><br>¿Nuestro secreto?</h1>
        <p><br> Nuestro secreto radica en la pasión por la pizza y el compromiso con la calidad. Cada ingrediente es seleccionado cuidadosamente para ofrecerte una experiencia culinaria auténtica que celebra la tradición italiana<br><br></p>


    </div>

    <div class="container-inferior">
        <section class="somos">
            <div class="somos-content">
                <h2>"Sencillez y amor por la tradición"</h2>
                <p>Nos esforzamos por garantizar la calidad en cada bocado, buscando los sabores del pasado que han hecho de la pizza un clásico atemporal. Utilizamos solo ingredientes de excelencia: desde la harina artesanal hasta el fiordilatte fresco y el aceite de oliva virgen extra. Trabajamos con productores locales que comparten nuestra pasión por la calidad, asegurando técnicas tradicionales y sabores auténticos en cada pizza que servimos.</p>
                <a href="" class="read-more">ABRIR EL MENÚ</a>
            </div>

            <div class="somos-image">
                <img src="https://i.pinimg.com/564x/ba/7f/b1/ba7fb153e67e43661c35cb6509ba415a.jpg">
            </div>
        </section>

    </div>
</section>


<!-- Galería -->

<section class="gallery-section">
    <div class="animal-icon">

        <img src="/img/favicon.png" alt="logo footer"
             class="favicon">
    </div>

    <div class="gallery-content">
        <div class="img-card"><img src="https://images.alphacoders.com/276/276653.jpg" alt="Un festín para los amantes del queso: mezcla de mozzarella, gorgonzola, parmesano y ricotta."></div>
        <div class="img-card"><img src="https://images7.alphacoders.com/129/1290221.jpg" alt="Sabores frescos de Italia: pesto casero, piñones y mozzarella, una delicia verde."></div>
        <div class="img-card"><img src="https://images7.alphacoders.com/596/596343.jpg" alt="La clásica italiana: frescura del tomate, albahaca y mozzarella, un homenaje a los sabores de Nápoles."></div>
        <div class="img-card"><img src="https://i.pinimg.com/enabled/564x/4e/56/fa/4e56fa3ef27a56c8b5e6bec2b2b18d7f.jpg" alt="Una explosión de sabores: piña jugosa y jamón, un debate que nunca termina."></div>
        <div class="img-card"><img src="https://preview.redd.it/5vltlvdi2dqy.jpg?auto=webp&s=11b3f7edb856611608a3c710f8b6faf01e0e12c9" alt="Un viaje al mar: aceitunas, alcachofas y queso feta que evocan las costas del Mediterráneo."></div>
        <div class="img-card"><img src="https://images.unsplash.com/photo-1534308983496-4fabb1a015ee?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D" alt="Un favorito americano: la combinación perfecta de salami picante y queso derretido que nunca falla."></div>
        <div class="img-card"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/cd4ecb185918203.656c79d8bdea0.jpg" alt="Sabor picante: chiles jalapeños, carne asada y un toque de guacamole para una experiencia explosiva."></div>
        <div class="img-card"><img src="https://static.vecteezy.com/system/resources/previews/030/674/791/large_2x/product-shots-of-pizza-high-quality-4k-ultra-hd-free-photo.jpg" alt="Un giro italiano: panceta crujiente, huevo y queso pecorino en cada bocado."></div>
        <div class="img-card"><img src="https://wallpapers.com/images/featured/pizza-background-bv8lc971lobg1sx4.jpg" alt="Donde cada encuentro es una pausa para disfrutar."></div>
        <div class="img-card"><img src="https://wallpapers.com/images/hd/pizza-oven-4k-fire-hlnklicx870b2pdo.jpg" alt="La fusión perfecta: pollo a la barbacoa, cebolla roja y cilantro, una delicia ahumada."></div>
        <div class="img-card"><img src="https://images6.alphacoders.com/698/698287.jpg" alt="Plena de color y sabor: verduras frescas asadas sobre una base crujiente, sin lácteos pero con mucho amor."></div>
        <div class="img-card"><img src="https://www.eatingwell.com/thmb/4rdRvAWOmTafWW2hsWjy1gaxuTk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/3759013-afa999cb742f48deb683525371391a97.jpg" alt="Sin salsa de tomate, pero llena de sabor: ricotta, espinacas y un toque de aceite de oliva."></div>
    </div>

    <!-- Modal -->
    <div class="modal">
        <span id="closeModal"><i class="fas fa-times"></i></span>
        <img id="imgModal" src="" alt="">
        <p id="caption"></p>
    </div>
</section>




<script th:src="@{/JavaScript/seccionscript.js}" ></script>

<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>



<footer th:replace="layout/footer :: footer"></footer>


</body>
</html>