<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1  0">
    <link rel="stylesheet" th:href="@{/Styles/Styles.css}">
    <link rel="stylesheet" th:href="@{/Styles/ordenes.css}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/Styles/Bottoms.css}" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Teachers:wght@500&display=swap');
    </style>

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!--Stylos-->
    <title>Pizzeria Pizza</title>
</head>
<body>
<header th:replace="layout/Nav :: header"></header>

<main>

    <section class="status__container">
        <div>
            <h3>Preparando</h3>
            <div class="list__container" id="list1">
                <div class="list__item" th:each="pizza : ${preparandoList}" draggable="true">
                    <img src="/img/pizzaItem.jpeg" alt="Pizza Imagen" draggable="false">
                    <div>
                        <p><b>Código:</b> <span th:text="${pizza.getId()}"></span></p>
                        <p><b>Nombre:</b> <span th:text="${pizza.getOrden().getNombre()}"></span></p>
                        <p><b>Tamaño:</b> <span th:text="${pizza.getPizza().getTamano()}"></span></p>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <h3>En el horno</h3>
            <div class="list__container" id="list2">
                <div class="list__item" th:each="pizza : ${hornoList}" draggable="true">
                    <img src="/img/pizzaItem.jpeg" alt="Pizza Imagen" draggable="false">
                    <div>
                        <p><b>Código:</b> <span th:text="${pizza.getId()}"></span></p>
                        <p><b>Nombre:</b> <span th:text="${pizza.getOrden().getNombre()}"></span></p>
                        <p><b>Tamaño:</b> <span th:text="${pizza.getPizza().getTamano()}"></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>Terminado</h3>
            <div class="list__container" id="list3">
                <div class="list__item" th:each="pizza : ${terminadoList}" draggable="true">
                    <img src="/img/pizzaItem.jpeg" alt="Pizza Imagen" draggable="false">
                    <div>
                        <p><b>Código:</b> <span th:text="${pizza.getId()}"></span></p>
                        <p><b>Nombre:</b> <span th:text="${pizza.getOrden().getNombre()}"></span></p>
                        <p><b>Tamaño:</b> <span th:text="${pizza.getPizza().getTamano()}"></span></p>
                    </div>
                </div>
            </div>
        </div>

    </section>

<!--    <div class="button__container">-->
<!--        <button>Guardar</button>-->
<!--    </div>-->

</main>


<footer th:replace="layout/footer :: footer"></footer>

<script th:src="@{JavaScript/ordenes.js}"></script>

</body>
</html>