<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personalizar Pizza</title>
    <link rel="stylesheet" th:href="@{Styles/personaliza.css}"/>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap}" rel="stylesheet">
</head>
<body class="fondo-color">

<div class="fondo-imagenes"> <!-- Contenedor para las imágenes -->
    <h1 class="titulo"> "La Pizza que Siempre Has Soñado"</h1> <!-- Título centrado -->

    <p class="texto"> "Desde la base hasta la última capa de queso, cada elección es tuya. ¡Simplemente arrastra tus ingredientes favoritos dentro de la pizza y comienza a crear! Disfruta de cada rebanada hecha a tu medida." </p>

    <!-- Modificación aquí: Imagen de masa inicialmente oculta -->
    <img id="imagen-masa" src="" alt="Imagen de masa" class="imagen-pizza" style="display: none;">

    <div class="contenedor-principal">
        <div id="seccion-masa">
            <h2>Selecciona la masa</h2>
            <select id="masa-select" onchange="actualizarMasaYTamanos(); actualizarFormularioOculto('pizza_masa', this.value);">
                <option value="select">Seleccione una Masa</option>
                <option value="tradicional">Tradicional</option>
                <option value="italiana">Italiana</option>
                <option value="queso">Queso</option>
                <option value="pizza">Pizza</option>
            </select>
        </div>

        <div id="seccion-tamano">
            <h2>Selecciona el tamaño</h2>
            <select id="tamano-select" onchange="actualizarFormularioOculto('pizza_tamano', this.value); actualizarTamano()" disabled>
                <option value="select">Seleccione un Tamaño</option>
            </select>
            <!-- Mensaje para indicar que se debe seleccionar una masa -->
            <div id="mensaje-masa" style="color: rgb(225, 0, 0); display: none;">Escoge un tipo de masa</div>
        </div>

        <div id="seccion-queso">
            <h2>Selecciona la cantidad <br>de queso</h2>
            <select onchange="actualizarFormularioOculto('pizza_queso', this.value); actualizarQueso()">
                <option value="">Seleccione cantidad</option> <!-- Opción vacía para iniciar -->
                <option value="poco">Poco</option>
                <option value="normal">Normal</option>
                <option value="extra">Extra</option>
            </select>
        </div>

        <img id="queso-imagen" src="" alt="Imagen de queso" class="queso" style="display: none;"> <!-- Imagen del queso -->
    </div>

    <img src="img/shape-5.png" alt="Descripción de la imagen 1" class="imagen-1">
    <img src="img/shape-6.png" alt="Descripción de la imagen 2" class="imagen-2">
</div>


<div class="contenedor-secundario">
    <div id="seccion-carnes">
        <h2>Selecciona las carnes</h2>
        <label><input type="checkbox" value="molida" onchange="actualizarCheckbox('carnes', this.value, this.checked); actualizarCarnes('molida')"> Molida</label><br>
        <label><input type="checkbox" value="pollo" onchange="actualizarCheckbox('carnes', this.value, this.checked); actualizarCarnes('pollo')"> Pollo</label><br>
        <label><input type="checkbox" value="jamon" onchange="actualizarCheckbox('carnes', this.value, this.checked); actualizarCarnes('jamon')"> Jamón</label><br>
        <label><input type="checkbox" value="tocino" onchange="actualizarCheckbox('carnes', this.value, this.checked); actualizarCarnes('tocino')"> Tocino</label><br>
        <label><input type="checkbox" value="pepperoni" onchange="actualizarCheckbox('carnes', this.value, this.checked); actualizarCarnes('pepperoni')"> Pepperoni</label><br>
        <label><input type="checkbox" value="italiana" onchange="actualizarCheckbox('carnes', this.value, this.checked); actualizarCarnes('italiana')"> Salchicha Italiana</label><br>
    </div>

    <div id="seccion-ingredientes">
        <h2>Selecciona los ingredientes</h2>
        <label><input type="checkbox" value="cheddar" onchange="actualizarCheckbox('ingredientes', this.value, this.checked); actualizarIngredientes('cheddar')"> Cheddar</label><br>
        <label><input type="checkbox" value="pimiento" onchange="actualizarCheckbox('ingredientes', this.value, this.checked); actualizarIngredientes('pimiento')"> Pimiento</label><br>
        <label><input type="checkbox" value="champinon" onchange="actualizarCheckbox('ingredientes', this.value, this.checked); actualizarIngredientes('champinon')"> Champiñón</label><br>
        <label><input type="checkbox" value="pina" onchange="actualizarCheckbox('ingredientes', this.value, this.checked); actualizarIngredientes('pina')"> Piña</label><br>
        <label><input type="checkbox" value="cebolla" onchange="actualizarCheckbox('ingredientes', this.value, this.checked); actualizarIngredientes('cebolla')"> Cebolla</label><br>
        <label><input type="checkbox" value="aceituna" onchange="actualizarCheckbox('ingredientes', this.value, this.checked); actualizarIngredientes('aceituna')"> Aceituna</label><br>
    </div>

    <!-- Imágenes de ingredientes -->
    <img id="molida-imagen" src="img/carne500.png" alt="Molida" class="ingrediente-imagen" style="display: none;">
    <img id="pollo-imagen" src="img/pollo500.png" alt="Pollo" class="ingrediente-imagen" style="display: none;">
    <img id="jamon-imagen" src="img/jamon500.png" alt="Jamón" class="ingrediente-imagen" style="display: none;">
    <img id="tocino-imagen" src="img/tocino500.png" alt="Tocino" class="ingrediente-imagen" style="display: none;">
    <img id="pepperoni-imagen" src="img/peperoni500 (1).png" alt="Pepperoni" class="ingrediente-imagen" style="display: none;">
    <img id="italiana-imagen" src="img/salchicha500.png" alt="Salchicha Italiana" class="ingrediente-imagen" style="display: none;">

    <img id="cheddar-imagen" src="img/cheddar500.png" alt="Cheddar" class="ingrediente-imagen" style="display: none;">
    <img id="pimiento-imagen" src="img/pimiento500.png" alt="Pimiento" class="ingrediente-imagen" style="display: none;">
    <img id="champinon-imagen" src= "img/champiñon500 (2).png" alt ="Champiñón" class ="ingrediente-imagen" style ="display: none;">
    <img id ="pina-imagen" src= "img/pina500.png" alt="Piña" class ="ingrediente-imagen" style ="display: none;">
    <img id ="cebolla-imagen" src ="img/cebolla500.png" alt ="Cebolla" class ="ingrediente-imagen" style ="display: none;">
    <img id ="aceituna-imagen" src ="img/aceituna500.png" alt ="Aceituna" class ="ingrediente-imagen" style ="display: none;">


</div>

<div class="contenedor-boton">
    <button type="button" onclick="enviarFormulario()" class="boton-enviar">Enviar Pizza</button>
</div>
<br>

<!-- Formulario oculto -->
<form id="formularioPizza" th:action="@{/personaliza/agregarPersonalizada}" method="post" style="display:none;">
    <!-- Asociación de objetos -->
    <div th:object="${pizza}">
        <input type="text" id="pizza_tamano" th:field="*{tamano}" value="">
        <input type="text" id="pizza_masa" th:field="*{masa}" value="">
        <input type="text" id="pizza_queso" th:field="*{queso}" value="">
        <input type="text" id="pizza_salsa" th:field="*{salsa}" value="">
    </div>

    <div th:object="${carnes}">
        <!-- Inputs ocultos para carnes -->
        <input type="text" id="input_molida" th:field="*{molida}" value="0">
        <input type="text" id="input_pollo" th:field="*{pollo}" value="0">
        <input type="text" id="input_jamon" th:field="*{jamon}" value="0">
        <input type="text" id="input_tocino" th:field="*{tocino}" value="0">
        <input type="text" id="input_pepperoni" th:field="*{pepperoni}" value="0">
        <input type="text" id="input_italiana" th:field="*{italiana}" value="0">
    </div>

    <div th:object="${ingredientes}">
        <!-- Inputs ocultos para ingredientes -->
        <input type="text" id="input_cheddar" th:field="*{cheddar}" value="0">
        <input type="text" id="input_pimiento" th:field="*{pimiento}" value="0">
        <input type="text" id="input_champinon" th:field="*{champinon}" value="0">
        <input type="text" id="input_pina" th:field="*{pina}" value="0">
        <input type="text" id="input_cebolla" th:field="*{cebolla}" value="0">
        <input type="text" id="input_aceituna" th:field="*{aceituna}" value="0">
    </div>
</form>

<script th:src="@{/JavaScript/personaliza.js}"></script>
</body>
</html>