/* Estilos generales del contenedor */


.contenedor-reward {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: var(--bg-color-dark);/* Fondo transparente */
}

.join-rewards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rewards-detail-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.title .image {
    height: 64px;
    padding: 24px 16px;
    background-color: var(--bg-strong-red);
    width: 100%;
}

.banner-home {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    background: var(--bg-color-Peach-Orange);
    width: 100%;
}

.initial {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    max-width: 1440px;
}

.banner-home .text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 329px;
    width: 35%;
    margin: 160px 0 160px 88px;
}

.banner-home .text .summary {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    color: var(--bg-strong-dark);
}

.category-container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-strong-red);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.category-button {
    background-color: var(--bg-strong-red);
    color: var(--bg-color-white);
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    position: relative;
    flex: 1 1 calc(20% - 10px);
}

.category-button .star {
    color: var(--bg-color-yellow);
    font-size: 20px;
    text-align: center;
    display: block;
}

.category-button.active {
    background-color: var(--bg-color-dark);
}

.category-divider-container {
    text-align: center;
    margin-bottom: 20px;
}

.category-divider {
    width: 30px;
    border: none;
    border-top: 2px solid var(--bg-color-dark);
    margin: 0 auto;
    display: none;
}

.category-divider.active {
    display: block;
}

.category-content {
    position: relative;
    padding: 20px;
    text-align: center;
}

.category-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-image img {
    max-width: 30%;
    height: auto;
}

@media only screen and (max-width: 420px) {
    .card-image img {
        max-width: 100%;
        height: auto;
    }
}

.card-content {
    padding: 20px;
}

.card-content .title h3 {
    font-size: 24px;
}

.card-content .description p {
    font-size: 16px;
    color: #666;
}

/* Estilos para el título */
.titulo-reward {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--bg-color-white);
}

/* Estilos para el subtítulo */
.subtitulo-reward {
    text-align: center;
    font-size: 16px;
    color: var(--bg-color-white);
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-img .star-image {
    width: 95%;
    overflow: hidden;
    object-fit: cover;
}

.banner-img .star-image-responsive {
    width: 100%;
}

.star-image-responsive {
    display: none;
}

/* Estilos para las columnas */
.columnas-reward {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 420px) {
    .columnas-reward {
        flex-direction: column;
    }
}

@media only screen and (max-width: 960px) {
    .columnas-reward {
        flex-direction: column;
    }

    .title {
        display: none !important;
    }

    .rewards-detail-one {
        padding-bottom: 32px;
    }

    .banner-home {
        width: 100%;
    }

    .banner-home .initial .text {
        margin: 9.6rem 1.6rem;
        gap: 24px;
        height: 18.5rem;
        width: 50%;
        z-index: 2;
    }

    .banner-home .initial .text .summary {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .banner-home .initial .banner-img .star-image {
        display: none;
    }

    .banner-home .initial .banner-img .star-image-responsive {
        display: block;
    }
}

/* Estilos para cada columna */
.columna-reward {
    flex: 1; /* Distribuye las columnas por igual */
    background-color: var(--bg-color-dark); /* Fondo de las columnas */
    padding: 20px;
    text-align: center; /* Centrar contenido horizontalmente */
    display: flex;
    flex-direction: column; /* Alinear contenido verticalmente */
}

/* Estilos para el título de cada columna */
.titulo-columna-reward {
    font-size: 26px;
    color: var(--bg-color-white); /* Color verde para el título */
    display: inline-block; /* Convertir en bloque en línea para ajustar el borde */
    line-height: 0.7; /* Ajustar la altura de línea para alinear correctamente el borde circular */
    padding: 10px; /* Espaciado dentro del borde */
    border: 2px solid var(--bg-color-white); /* Borde circular de color verde */
    border-radius: 50%; /* Borde circular */
    width: 40px; /* Ancho fijo para asegurar el borde circular */
    height: 40px; /* Altura fija para asegurar el borde circular */
    text-align: center; /* Centrar contenido horizontalmente */
    margin: 0 auto; /* Centrar el título dentro de la columna */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Estilos para el subtítulo de cada columna */
.subtitulo-columna-reward {
    font-size: 22px; /* Tamaño del subtítulo */
    color: var(--bg-color-white); /* Color negro para el subtítulo */
    font-weight: bold;
    margin-bottom: 8px;
}

/* Estilos para la descripción de cada columna */
.descripcion-columna-reward {
    font-size: 16px; /* Tamaño de la descripción */
    color: var(--bg-color-white); /* Color más suave para la descripción */
    font-weight: normal; /* Sin negrita para la descripción */
}

/* Estilos para el contenedor segundo */
.contenedor-segundo-estrellas {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #f0f0f0; /* Color de fondo */
    margin-top: 20px; /* Espacio arriba */
}

/* Estilos para el título */
.titulo-segundo-estrellas {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para la descripción */
.descripcion-segundo-estrellas {
    font-size: 14px; /* Tamaño letra más pequeño */
    color: #888; /* Color más claro */
    text-align: center;
    margin-top: 10px; /* Espacio arriba */
}

/* Estilos para la tabla */
.tabla-segundo-estrellas {
    width: 100%; /* Ancho máximo del contenedor */
    max-width: 800px; /* Ancho máximo deseado para la tabla */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse;
}

/* Estilos para las filas */
.fila-contenido-estrellas {
    display: table-row;
}

/* Estilos para las celdas de contenido */
.celda-contenido-estrellas {
    display: table-cell;
    padding: 10px;
    background-color: #fff; /* Color de fondo para contenido */
    border: 1px solid #ccc; /* Borde */
    text-align: center;
}

/* Estilos responsivos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .tabla-segundo-estrellas {
        width: 100%; /* Ajustar ancho al 100% en pantallas pequeñas */
    }
}